<ion-modal-view class="notification-modal {{notificationData.style}}" style="height:100px" ng-click="hideModal()">
	<ion-header-bar>
		<h1 class="title">{{notificationData.message}}</h1>
		<button ng-if="notificationData.style === 'notification-error'" class="button button-icon button-clear" ng-click="showOfflineMessage()">
			<i class="ion-ios-information"></i>
		</button>
	</ion-header-bar>
	<ion-content>
	</ion-content>
</ion-modal-view>
