<ion-view view-title="{{'DRIVER' | translate}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <div class="list">
      <button type="submit" class="button button-positive button-block icon-right ion-android-arrow-dropright" id="parkingLotButton" ui-sref="estacionamento">
        <span>{{'DO_YOU_HAVE_A_PARKING_LOT' | translate}}</span>
      </button>
    </div>
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
      <iframe src="https://www.youtube.com/embed/6Ol8ybb72mw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""
              width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>
