<div>
	<div class="list login-popup">
		<div class="item">
			<label class="item item-input" style="border-bottom: 1px solid gray"
				ng-class="{'form-error': (loginForm.email.$invalid && loginForm.$submitted) || (loginForm.email.$invalid && loginForm.email.$dirty),
				'login-label-border-high': hasEmailFocus}">
				<!-- <span class="input-label login-label">{{'EMAIL' | translate}}</span> -->
				<input id="emailId" name="email" ng-model="user.email" type="email" placeholder="Email"
				class="login-input" ng-focus="hasEmailFocus = true" ng-blur="hasEmailFocus = false">
			</label>
			<label class="item item-input" style="border-bottom: 1px solid gray"
				ng-class="{'form-error': (loginForm.password.$invalid && loginForm.$submitted) || (loginForm.password.$invalid && loginForm.password.$dirty),
				'login-label-border-high': hasPasswordFocus}">
				<!-- <span class="input-label login-label">{{'PASSWORD' | translate}}</span> -->
				<input id="password" name="password" ng-model="user.password" type="password" placeholder="{{'PASSWORD' | translate}}"
				class="login-input" ng-focus="hasPasswordFocus = true" ng-blur="hasPasswordFocus = false">
			</label>
			<div class="spacer" style="width: 300px; height: 1px;"></div>
		</div>
	</div>
</div>
