<ion-view view-title="Login" hide-back-button="true" hide-nav-bar="true">
  <ion-content overflow-scroll="false" padding="true"
               scroll="true" class="padding login-content">
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div class="login-header" style="text-align:center;">
      <img align="center" src="img/logo.png">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
  </ion-content>

	  <div class="login-footer" style="background-color: rgba(255,255,255,0.3)">

		  <div style="padding:0 20px">
			  <!-- <button type="button" class="button button-small button-block button-" id="demo-button" ui-sref="motorista">
			  <span>{{'HOW_EASY_IS_TO_USE' | translate}}</span>
		  </button> -->
		  <div class="row" style="padding:0">
			  <div class="col-60">
				  <button type="button" class="button button-block button-energized-500" id="signup-button" ng-click="signup()">
					  <span>{{'SIGNUP' | translate}}</span>
				  </button>
			  </div>

			  <div class="col-40 login-button">
				  <button type="submit" class="button button-block button-positive" id="login-button" ng-click="login()">
					  <span>{{'LOGIN' | translate}}</span>
				  </button>
			  </div>
		  </div>
		  <!-- <button type="button" class="button button-block button-positive facebook-button" id="signup-button" ng-click="loginWithFacebook()">
			  <i class="icon ion-social-facebook"></i>
			  <span>{{'LOGIN_WITH_FACEBOOK' | translate}}</span>
		  </button> -->
	  </div>
  </div>
</ion-view>
