<ion-view view-title="{{'PARKING_LOT' | translate}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <h5 id="estacionamento-heading1" style="color:#747474;text-align:center;">Tudo que você precisa para ter total
      controle do seu estacionamento na palma da sua mão!</h5>
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
      <iframe src="https://www.youtube.com/embed/aZ2-TBhqx6A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""
              width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h5 id="estacionamento-heading2" style="color:#747474;text-align:center;">Veja como é fácil para configurar o app
      para o seu estacionamento em menos de 3 minutos.</h5>
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
      <iframe src="https://www.youtube.com/embed/CTei7Z-j7Ms?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""
              width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="list">
      <button type="submit" class="button button-positive  button-block"
              id="takeATest">
        <span>{{'TAKE_A_TESTE' | translate}}</span>
      </button>
    </div>
  </ion-content>
</ion-view>
