<ion-view view-title="{{'SIGNUP' | translate}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" padding="true" class="has-header signup">
    <form name="signiupForm" class="list">
      <div class="list">
		<label class="item item-input item-floating-label" ng-class="{'label-border-high': hasNameFocus}">
		<span class="input-label">{{'NAME' | translate}}</span>
		<input type="text" ng-model="profile.name" name="name" placeholder="{{'NAME' | translate}}"
		       ng-required="true" ng-focus="hasNameFocus = true" ng-blur="hasNameFocus = false">
		</label>
		<label class="item item-input item-floating-label" ng-class="{'label-border-high': hasEmailFocus}">
		<span class="input-label">{{'EMAIL' | translate}}</span>
		<input type="text" ng-model="profile.email" name="email" placeholder="{{'EMAIL' | translate}}"
		       ng-required="true" ng-focus="hasEmailFocus = true" ng-blur="hasEmailFocus = false">
		</label>
        <label class="item item-input item-floating-label" ng-class="{'label-border-high': hasCellphoneFocus}">
          <span class="input-label">{{'CELLPHONE' | translate}}</span>
          <input type="tel" ng-model="profile.cellphone" name="cellphone" placeholder="{{'CELLPHONE' | translate}}"
                 ng-required="true" ng-focus="hasCellphoneFocus = true" ng-blur="hasCellphoneFocus = false"
                 ui-br-phone-number>
        </label>
        <label class="item item-input item-floating-label" ng-class="{'label-border-high': hasPasswordFocus}">
          <span class="input-label">{{'PASSWORD' | translate}}</span>
          <input type="password" ng-model="profile.password" name="password" placeholder="{{'PASSWORD' | translate}}"
                 ng-required="true" ng-focus="hasPasswordFocus = true" ng-blur="hasPasswordFocus = false">
        </label>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <div class="list">
          <button type="submit" class="button button-block button-positive" id="signup-button" ng-click="cadastrar()">
            <span>{{'CREATE_ACCOUNT' | translate}}</span>
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
