<div>
  <div class="list">
    <div class="item">
      <h3 class="text-center">Número do Ticket:</h3>
      <h2 class="text-center positive">123456</h2>
    </div>
    <div class="item">
      <h3 class="text-center">Permanência:</h3>
      <h2 class="text-center positive">12:25</h2>
    </div>
    <div class="item">
      <h3 class="text-center">Valor Total:</h3>
      <h1 class="text-center balanced">{{40.20 | finance:'R$':2}}</h1>
    </div>
    <div class="item ">
      <select ng-model="selectedCard.id" class="settings-select" ng-options="card.id as card.description for card in myCreditCards"></select>
    </div>
  </div>
</div>
