<ion-view title="{{'ADD_CREDIT_CARD' | translate}}" id="myAccount" hide-back-button="false">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <div class="row row-center">
      <div class="card-info">
        <p class="text-center">Adicione seu cartão de crédito para pagar seu estacionamento com comodidade e
          segurança</p>
      </div>
    </div>
    <form name="signiupForm" class="list">
      <div class="list">
        <label class="item item-input item-floating-label" ng-class="{'label-border-high': hasCardNumberFocus}">
          <span class="input-label">{{'CREDIT_CARD_NUMBER' | translate}}</span>
          <input type="tel" ng-model="card.number" name="number" placeholder="{{'CREDIT_CARD_NUMBER' | translate}}"
                 ng-required="true" ng-focus="hasCardNumberFocus = true" ng-blur="hasCardNumberFocus = false" ng-change="handleCreditNumberFocus()"
                 ui-credit-card="">
        </label>
        <div class="row">
          <label class="item item-input item-floating-label col-40"
                 ng-class="{'label-border-high': hasCardSecurityCodeFocus}">
            <span class="input-label">{{'CREDIT_CARD_SECURITY_CODE' | translate}}</span>
            <input id="codSeguranca" type="tel" maxlength="3" ng-model="card.cvv2" name="securityCode"
                   placeholder="{{'CREDIT_CARD_SECURITY_CODE' | translate}}"
                   ng-required="true" ng-focus="hasCardSecurityCodeFocus = true"
                   ng-change="handleSecDigits()"
                   ng-blur="hasCardSecurityCodeFocus = false">
          </label>
          <div class="item item-inline col-30">
            <select ng-model="card.expire_month" name="month" class="inline-select"
                    ng-options="month.number as month.number for month in months">
            </select>
          </div>
          <div class="item item-inline col-30">
            <select ng-model="card.expire_year" name="year" class="inline-select"
                    ng-options="year.number as year.number for year in years">
            </select>
          </div>
        </div>
		<label class="item item-input item-floating-label" ng-class="{'label-border-high': hasCardNameFocus}">
		  <span class="input-label">{{'CREDIT_CARD_NAME' | translate}}</span>
		  <input type="text" ng-model="card.name_on_card" name="name" placeholder="{{'CREDIT_CARD_NAME' | translate}}"
				 ng-required="true" ng-focus="hasCardNameFocus = true" ng-blur="hasCardNameFocus = false">
		</label>
      </div>
      <div class="list">
        <button type="submit" class="button button-block button-positive icon-left ion-locked" id="add-button"
                ng-click="addNewCard()">
          <span>{{'ADD_CREDIT_CARD' | translate}}</span>
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
