<ion-view title="{{'MY_ACCOUNT' | translate}}" id="myAccount" hide-back-button="false">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <button id="addCreditCard" ng-click="addCreditCard()" class="button button-positive button-block icon-left ion-plus">
      {{'ADD_CREDIT_CARD' | translate}}
    </button>
    <div class="card" ng-if="cards.length > 0">
      <div class="item item-text-wrap text-center">
        {{'MY_CREDIT_CARDS' | translate}}
      </div>
      <div class="list">
        <div class="item item-button-right" ng-repeat="card in cards" ng-class-odd="'odd'">
          <p>{{card.description}}</p>
          <button class="button button-assertive icon ion-trash-a" ng-click="removeCreditCard(card)">
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
