<ion-view title="{{'ACTIVE_SESSION' | translate}}" id="activeSession" hide-back-button="true">
  <ion-content overflow-scroll="false" padding="false" class="has-header">
    <div class="item item-text-wrap text-center">
      {{'PARKED_IN' | translate}}:
    </div>
    <div class="list">
      <div class="item item-text-wrapr">
        <h3 class="text-center positive">{{parkTicket.parking_lot.name}}</h3>
      </div>
    </div>
    <div class="list">
      <div class="row">
        <div class="item col-10">
          <i class="icon ion-ios-location positive h3"></i>
        </div>
        <div class="item col-90 map-thumbnail">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-markers models="markers" coords="'self'" idkey="id">
            </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
      </div>
      <div class="row">
        <div class="item col-10">
          <i class="icon ion-man positive h3"></i>
        </div>
        <div class="item col-90" ng-if="!deliveryRequest">
          <div>{{'MINIMUM_WAITING_TIME' | translate}}:</div>
          <button type="button" class="button button-block button-positive" id="request-delivery-button"
                  ng-click="requestDelivery()">
            <span>{{'REQUEST_DELIVERY_NOW' | translate}}</span>
          </button>
        </div>
        <div class="item col-90" ng-if="deliveryRequest">
          <div class="balanced h2">{{'VEHICLE_REQUESTED' | translate}}</div>
        </div>
      </div>
      <div class="row">
        <div class="item col-10">
          <i class="icon ion-social-usd positive h3"></i>
        </div>
        <div class="item col-90">
          <div>{{'CURRENT_VALUE' | translate}}: <span class="h3 balanced">{{parkTicket.session_price.current_price | finance:'R$':2}}</span>
          </div>
          <div>{{'TICKET_PAID' | translate}}: <span class="h3 positive">{{parkTicket.paid | yesNo}}</span></div>
          <button type="button" class="button button-block button-positive icon icon-left ion-plus-circled"
                  id="my-cards-button" ng-click="showMyCards()">
            <span>{{'MY_CREDIT_CARDS' | translate}}</span>
          </button>
        </div>
      </div>
      <div class="row" ng-if="!parkTicket.paid">
        <button type="button" class="button button-block button-bar-balanced icon icon-left ion-checkmark-circled"
                id="pay-button" ng-click="payMyParking()">
          <span>{{'PAY_MY_PARKING' | translate}}</span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
