<ion-view title="{{'DRIVER' | translate}}" id="driverHome" hide-back-button="true">
  <ion-content overflow-scroll="false" padding="false" class="has-header">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" , bounds="map.bounds">
      <ui-gmap-markers models="markers" coords="'self'" idkey="id" icon="'icon'" click="'openDetails'"
                       events="map.markersEvents" options="'options'">
      </ui-gmap-markers>
    </ui-gmap-google-map>
    <!-- <div class="map-footer">
      <div class="row">
        <div class="col-33">
          <button class="button button button-positive button-circle button-xl" ng-click="park()">
            <i class="icon ion-social-markdown stable"></i>
          </button>
        </div>
        <div class="col-34">
          <button class="button button-positive button-circle button-xl" ng-click="scanTicket()">
            <i class="icon ion-ios-barcode-outline stable"></i>
          </button>
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
