<div>
  <div class="list">
    <div class="item map-thumbnail">
      <ui-gmap-google-map center="selectedParkingLot.map.center" zoom="selectedParkingLot.map.zoom" draggable="true" options="options">
      </ui-gmap-google-map>
    </div>
    <div class="item item-description item-text-wrap">
      <p class="text-center">{{selectedParkingLot.address}}</p>
    </div>
    <div class="card">
      <div class="item item-text-wrap item-icon-left ion-social-usd">
        {{'PRICE_TABS' | translate}}
      </div>
      <div class="list">
        <div class="item" ng-repeat="price in selectedParkingLot.price_tabs" ng-class-odd="'odd'">
          <div class="col-80">{{price.period}}</div>
          <div class="col-20"><span class="badge badge-balanced icon-badge">{{price.starting_price | finance}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap item-icon-left ion-android-car">
        {{'OTHER_INFORMATIONS' | translate}}
      </div>
      <div class="list">
        <div class="item odd">
          <div class="col-80">{{'SPOTS' | translate}}</div>
          <div class="col-20"><span class="badge badge-positive icon-badge">{{selectedParkingLot.spot_number}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
