<ion-view title="{{'SCAN_YOUR_TICKET' | translate}}" id="myAccount" hide-back-button="false">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <div class="image-header" style="text-align:center;">
      <img align="center" src="img/barcode_ticket.png">
    </div>
    <button id="scanYourTicket" ng-click="scanBarcode()" class="button button-positive button-block icon-left ion-android-camera">
      {{'SCAN_YOUR_TICKET' | translate}}
    </button>
    <form name="signiupForm" class="list">
      <div class="list">
        <label class="item item-input item-floating-label" ng-class="{'label-border-high': hasTicketScannerFocus}">
          <span class="input-label">{{'BARCODE' | translate}}</span>
          <input type="number" ng-model="data.barcode" id="barcode" name="number" placeholder="{{'OR_TYPE_YOUR_BARCODE' | translate}}"
                 ng-required="false" ng-focus="hasTicketScannerFocus = true" ng-blur="hasTicketScannerFocus = false">
        </label>
      </div>
      <div class="list">
        <button type="submit" class="button button-block button-positive" id="search-button" ng-click="searchTicket()">
          <span>{{'SEARCH_TICKET' | translate}}</span>
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
