<ion-view title="{{'CHANGE_INFORMATIONS' | translate}}" id="page10">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <form name="change-info-form" class="list">
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{'NAME' | translate}}</span>
          <input type="text" ng-model="profile.name" name="name" placeholder="{{'NAME' | translate}}">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{'CELLPHONE' | translate}}</span>
          <input type="tel" ng-model="profile.cellphone" name="cellphone" placeholder="{{'CELLPHONE' | translate}}"
                 ui-br-phone-number>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{'EMAIL' | translate}}</span>
          <input type="email" ng-model="profile.email" name="email" placeholder="{{'EMAIL' | translate}}">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{'CPF_CNPJ' | translate}}</span>
          <input type="tel" ng-model="profile.cpf" name="cpfCnpj" placeholder="{{'CPF_CNPJ' | translate}}"
                 ui-br-cpfcnpj-mask>
        </label>
        <button id="save-changes" class="button button-positive button-block" ng-click="salvar()" type="submit">
          {{'SAVE_CHANGES' | translate}}
        </button>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
