<ion-view title="{{'CHANGE_PASSWORD' | translate}}" id="password-change">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <form class="list">
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{'NEW_PASSWORD' | translate}}</span>
          <input type="password" ng-model="profile.newPassword" name="password" placeholder="{{'NEW_PASSWORD' | translate}}"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{'NEW_PASSWORD_CONFIRMATION' | translate}}</span>
          <input type="password" ng-model="profile.newPasswordConfirmation" name="password" placeholder="{{'NEW_PASSWORD_CONFIRMATION' | translate}}"
                 ng-required="true">
        </label>
        <button id="save-changes" class="button button-positive button-block" ng-click="salvar()" type="submit">
          {{'SAVE_CHANGES' | translate}}
        </button>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
