<ion-view title="{{'PROFILE' | translate}}" id="profile">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img src="img/teste.png">
        <h2>{{profile.name}}</h2>
        <p>{{profile.email}}</p>
        <p>{{profile.cellphone}}</p>
        </br>
      </ion-item>
    </ion-list>
    <button id="change-info" class="button button-positive button-block icon-left ion-edit"
            ui-sref="changeInfo">{{'CHANGE_INFORMATIONS' | translate}}
    </button>
    <button id="change-pass" class="button button-positive  button-block icon-left ion-android-lock"
            ui-sref="changePassword">{{'CHANGE_PASSWORD' | translate}}
    </button>
    <button id="logout-profile" style="color:#387EF5;"
            class="button button-stable  button-block button-outline icon-left ion-power" ng-click="sairPerfil()">{{'LOGOUT_FROM_THIS_PROFILE' | translate}}
    </button>
  </ion-content>
</ion-view>
