<ion-view title="{{'SUPPORT' | translate}}" id="profile">
<ion-content overflow-scroll="false" padding="true" class="has-header">
  <button id="caixa-fechar" href="http://blog.parkapp.info/ajuda" target="blank" class="button button-positive button-block">
    {{'WATCH_TUTORIAL_VIDEOS' | translate}}
  </button>
  <div tawk-to="{{vm.id}}"></div>
</ion-content>
