<ion-view title="{{'ADD_VEHICLE' | translate}}" id="addVehicle" hide-back-button="false">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <ng-include src="'templates/driver/newVehiclePopupTemplate.html'"></ng-include>
  </ion-content>
</ion-view>
