<ion-view title="{{'MY_VEHICLES' | translate}}" id="myVehicles" hide-back-button="false">
    <ion-content overflow-scroll="false" padding="true" class="has-header">
    <button id="addCreditCard" ng-click="addVehicle()" class="button button-positive button-block icon-left ion-plus">
      {{'ADD_VEHICLE' | translate}}
    </button>
    <div class="card">
      <div class="item item-text-wrap text-center">
        {{'MY_VEHICLES' | translate}}
      </div>
      <div class="list">
        <div class="item item-button-right" ng-repeat="vehicle in vehicles" ng-class-odd="'odd'">
          <div class="enable-pointer-events" ng-click="changeVehicle(vehicle)">{{vehicle.license_plate}}</div>
          <button class="button button-assertive icon ion-trash-a" ng-click="removeVehicle(vehicle)">
          </button>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
