<div>
  <form name="vehicleRegisterForm" class="list">
    <div class="row">
      <div class="col-25">
        <label class="item item-input item-floating-label item-floating-label-icon"
               ng-class="{'label-border-high': hasLettersPlateFocus}">
          <i class="icon ion-model-s placeholder-icon"></i>
          <input type="text" id="plateLetraId" ng-model="vehicle.plateLetra" name="plate" placeholder="AAA"
                 ng-focus="hasLettersPlateFocus = true"
                 ng-blur="hasLettersPlateFocus = false" maxlength="3" ng-change="manageLettersPlateField()"
                 style="text-transform: uppercase">
        </label>
      </div>
      <div class="col-25">
        <label class="item item-input item-floating-label" ng-class="{'label-border-high': hasNumbersPlateFocus}">
          <input type="tel" id="plateNumeroId" ng-model="vehicle.plateNumero" name="plate" placeholder="1234"
                 ng-focus="hasNumbersPlateFocus = true; onPlateFocus()"
                 ng-blur="hasNumbersPlateFocus = false" maxlength="4" ng-change="manageNumbersPlateField()"
                 ng-click="onNumberClicked()">
        </label>
      </div>
      <div class="col-50">
        <label class="item item-input item-floating-label" ng-class="{'label-border-high': hasModelFocus}">
          <input type="text" ng-model="vehicle.model" id="modelId" name="model" placeholder="{{'MODEL' | translate}}"
                 ng-blur="hasModelFocus = false" ng-focus="hasModelFocus = true">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="item item-input">
        <select ng-model="vehicle.color" name="vehicleColor" class="popup-select"
                ng-options="color.description as color.description for color in colorList">
          <option value="">{{"COLOR" | translate}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
