/* Background Colors
==================================*/
.positive-bg,
.button-positive,
.bar .button-positive,
.header-positive,
.button-bar-positive,
.bar-positive,
.positive-border,
.positive-bg:hover,
.bar .button-positive:hover,
.button-positive:hover,
.header-positive:hover,
.button-bar-positive:hover,
.bar-positive:hover,
.positive-border:hover,
.positive-bg:active,
.bar .button-positive:active,
.button-positive:active,
.header-positive:active,
.button-bar-positive:active,
.bar-positive:active,
.positive-border:active,
.positive-bg.activated,
.bar .button-positive.activated,
.button-positive.activated,
.header-positive.activated,
.button-bar-positive.activated,
.bar-positive.activated,
.positive-border.activated {
  background-color: #0E79BE !important;
  color: #fff;
  font-size: 17px;
}

.platform-android .bar .title {
	left: 25px !important;
	right: 25px !important;
}

.button {
	font-size: 17px;
	border-radius: 9px;
	padding: 0px;
    text-overflow: initial;
    word-wrap: normal;
}

.bar.bar-positive {
  border-color: #0E79BE;
  /* background-color: #387ef5; */
  background-image: linear-gradient(0deg, #0E79BE, #0E79BE 50%, transparent 50%);
  color: #fff;
}

.card .item,
.list-inset .item,
.padding > .list .item,
.padding-horizontal > .list .item {
  margin-right: 0;
  margin-left: 0;
}

.card .item.item-input input,
.list-inset .item.item-input input,
.padding > .list .item.item-input input,
.padding-horizontal > .list .item.item-input input {
  padding-right: 0px;
}

.item-input {
  padding: 6px 0 5px 4px !important;
}

.item-select select {
  padding: 0 30px 0 0px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0);
  position: relative;
}

/* Text Colors
==================================*/
.positive,
.positive *,
*.positive,
.positive:hover,
.positive:hover *,
*.positive:hover,
.positive:active,
.positive:active *,
*.positive:active {
  color: #0E79BE;
!important
}

* {
  font-family: RobotoDraft !important;
}

.login-content {
	/*ambas as linhas são necessárias, a primeira funciona no browser, a segunda no android*/
	background: url("/img/parkApp-splash.jpg") no-repeat center center;
	background: url("../img/parkApp-splash.jpg") no-repeat center center;
	background-size: cover;
}

.login-header {
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.login-header > img {
	width: 100%;
}

.login-footer {
	max-width: 400px;
	width: 100%;
	/*padding-left: 20px;
	padding-right: 20px;*/
	bottom: 0px;
	position: fixed;
}

.login-footer > .row {
	padding: 5px 0px;
}


.map-footer {
  max-width: 400px;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  bottom: 0px;
  position: fixed;
}

.map-footer > .row {
  padding: 5px 0px;
}

.login-label-border-high {
  border-bottom: 2px solid #FBB265 !important;
}

.label-border-high {
  border-bottom: 2px solid #0E79BE !important;
}

.form-error {
  border-bottom: 1px solid red !important;
}

.form-button-error {
  border: 1px solid red !important;
}

.parsley-required {
  color: red;
  font-size: 12px !important;
}

.login-label {
  color: lightgray !important;
}

.login-popup > .item {
	display: block;
	padding: 0;
}

.list > .items-list {
  border: medium solid #f8f8f2 !important;
  border-bottom-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.items-list .item-content {
  padding: 16px 0 16px 16px;
}

.button-energized-500 {
  background-color: #FBB265;
  color: #fff;
}

.list-header {
  background-color: #FBB265;
  margin-top: 0px;
}

.item.item-divider {
	padding-top: 0;
	padding-bottom: 0;
}

.item.item-divider.list-header {
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 25px;
  color: #ffffff;
  background-color: #0E79BE;
  padding: 0px;
  border-radius: 5px;
}

.item + .list-item {
  padding: 0px;
  border-bottom: solid 1px rgba(14, 121, 190, .20);
}

.card {
  background-color: #EAEAEA;
}

.card .item-divider {
  background-color: #E2E2E2;
}

.tip-card {
  background-image: linear-gradient(0deg, #dfe400, #dfe400 50%, transparent 50%);
}

.popup-vertical-buttons .popup-buttons {
  display: block;
  text-align: center;
}

.popup-container.active .popup {
	border-radius: 10px;
	width: 90%;
}

.popup-vertical-buttons .popup-buttons .button {
  display: block;
  min-width: 100% !important;
  border-radius: 10px;
}

.item-floating-label .placeholder-icon {
  padding-right: 0px;
  position: absolute;
  bottom: 13px;
  left: 5px;
}

.placeholder-icon {
	color: black;
}

.item-floating-label-icon {
  padding-left: 18px !important;
}

.login-button {
	padding-left: 10px;
}

.radio-icon {
	color: green;
}

.default-select {
	width: 100%;
	height: 50px;
	margin-top: -20px;
	padding: 5px;
	font-weight: 600;
	background-color: lightgray;
	color: #0E79BE;
	border: none;
	border-radius: 5px;
}

.popup-select {
  width: 100%;
  height: 35px;
  padding: 5px;
  font-weight: 600;
  background-color: lightgray;
  color: #0E79BE;
  border: none;
  border-radius: 5px;
}

.item-inline {
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 38px 0px 0px 7px;
}

.inline-select {
  width: 100%;
  height: 35px;
  font-weight: 600;
  background-color: lightgray;
  color: #0E79BE;
  border: none;
  border-radius: 5px;
}

.settings-select {
	width: 100%;
	padding: 5px;
	font-weight: 600;
	background-color: lightgray;
	color: #0E79BE;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

.button.icon-left:before {
	padding-left: .5em;
}

.button.icon:before {
	padding-left: .38em;
}

.equipe-principal .button .icon {
	padding-left: .4em;
}

.button-with-arrow {
	padding-left: 3.5em;
}

.button-with-arrow:before {
	padding-right: .5em !important;
}

.popup-estaciona {
	width: 90%;
}

.estacionamentoDetails .item-checkbox {
	border: none;
}

.side-menu-title {
	position: initial !important;
	margin-left: 18px !important;
}

.col-100 {
  width: 100%;
}

.checkout .item {
	padding-top: 0px;
	padding-bottom: 0px;
}

.checkout input {
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}

.checkout .clear-button {
	position: absolute;
	right: 0;
	top: 5px;
	color: #bbb;
	box-shadow: none;
}

.checkout .list-item .row {
	padding-top: 15px;
}

.checkout .list-item .item-content {
	padding: 0;
	height: 48px;
	background-color: white;
}

.checkout .swipe-button {
	background-color: lightgray;
	text-align: center;
	border: none;
	box-shadow: none;
}

.checkout .swipe-button .icon {
	width: 100%;
	font-size: 36px;
}

.checkout .plate-text {
	font-weight: 600;
}

.checkout-complete .plate-text {
	font-weight: 600;
}

.checkout i:before {
	font-size: 18px;
}

.checkout .explain-label {
	height: 20px;
	line-height: 30px;
	text-align: center;
}

.checkout-complete .row {
	margin-top: 10px;
}

.checkin input {
  font-size: 15px;
  font-weight: bold;
}

.express-checkin > .padding{
	padding: 0px !important;
}

.express-checkin .item.item-divider.list-header{
	color: #0E79BE;
	background-color: white;
	border-top: 1px solid #0E79BE;
	min-height: 30px;
}

.express-checkin input {
	font-size: 20px;
	font-weight: 600;
}

.express-checkin i {
	font-size: 12px;
}

.popup-head {
	padding-top: 15px;
	padding-bottom: 0px;
}

.popup-title {
	text-align: center;
	color: #0e78bd;
	padding-bottom: 10px;
	font-size: 24px;
}

.popup-body {
	padding-top: 0px;
	margin-top: -5px;
}

.payment-popup input {
	padding-right: 0px;
	font-size: 20px;
	font-weight: bold;
}

.registerVehicle-popup input {
  padding-right: 0px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.payment-popup .popup-buttons {
	display: inline-flex !important;
	padding-top: 0;
}

.payment-popup .popup-body {
	padding-bottom: 0;
}

.payment-popup .popup-buttons .button {
	min-width: 40px !important;
}

.checkin-button-divisor {
	margin-left: 1.5px;
	margin-right: 1.5px;
}

.checkout-options .radio-list .list {
	display: inline-flex;
}

.checkout-options .item-radio input + .radio-content .item-content {
	padding-left: 10px;
	padding-right: 50px;
	text-align: center;
	border: 1px solid lightgray;
	text-overflow: initial;
	min-width: 70px;
}

.checkout-options .price-label {
	float: left;
	min-width: 100px;
	font-size: 20px;
	font-weight: 800;
	line-height: 3;
}

.checkout-options .big-row {
	font-size: 20px;
	font-weight: bold;
}

.checkout-options h4 {
	margin: 0;
}

.checkout-options .audio-box {
	width: 100%;
	text-align: right;
	padding-right: 20px;
}

.checkout-options .audio-box .button{
	padding-right: 10px;
	padding-left: 10px;
}

.paid-title {
	color: green;
	font-size: 16px;
	padding-bottom: 0;
	margin-bottom: -10px;
}

.not-paid-title {
	color: red;
	font-size: 16px;
	padding-bottom: 0;
	margin-bottom: -10px;
}

.cadastro-equipe .radio-list .list {
	display: inline-flex;
}

.cadastro-equipe .radio-icon {
	display: none;
}

.cadastro-equipe .item-radio input + .radio-content .item-content {
	padding-left: 20px;
	padding-right: 40px;
	text-align: center;
	border: 1px solid lightgray;
	text-overflow: initial;
	min-width: 70px;
}

#map {
  width: 100%;
  height: 100%;
}

#map_canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.scroll {
  height: 100%;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.notification-error h1,
.notification-success h1 {
	color: white;
}

.notification-error i,
.notification-success i {
	font-size: 2em !important;
}

.notification-error .bar {
	background-color: red;
	opacity: 0.9;
}

.notification-success .bar {
	background-color: green;
	opacity: 0.9;
}

.odd {
  background-color: #d6d6d6;
}

.card-info {
  background-color: #d9edf7;
  color: #31708f;
  padding-top: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: -10px;
}

.card-warning {
  background-color: #faf6e2;
  color: #cf973c;
  padding-top: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: -10px;
}

.item-description {
  font-size: 10px;
}

.map-thumbnail {
  height: 90px;
}

.markerLabel {
  color: #0E79BE;
  font-family: RobotoDraft;
  font-size: 9px;
  font-weight: bold;
}

.facebook-button {
	background-color: #3b5998 !important;
}

.button-link-disguised {
	background: none!important;
	border: none;
	padding: 0!important;
	font: inherit;
	color: gray;
	box-shadow: none;
}

.button-link-disguised > b {
	border-bottom: 1px solid gray;
}

.signup .item-radio {
	border: 1px solid lightgray !important;
}

ion-side-menu > ion-content {
	/*background-color: white !important;*/
	background: url("../img/parkApp-splash.jpg");
}

ion-side-menu .scroll {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

ion-side-menu a,
ion-side-menu ion-item,
ion-side-menu i {
	color: white !important;
}

.button-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.button-circle.button-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.button-circle.button-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border: 4px solid #FFFFFF;
  border-radius: 35px;
}

.image-header {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}



